@import url('https://fonts.googleapis.com/css2?family=Commissioner:wght@400;500;600;700&display=swap');

html {
  font-family: 'Commissioner', sans-serif;
	font-size: 16px;
	font-weight: 400;
  overflow-x: hidden;
}

body {
  margin: 0;
  background-color: #F6F6F6;
}

* { box-sizing: border-box; }

h1 {
  text-align: center;
  margin: 5px 0 10px;
}

h2 {
  font-size: 1rem;
  margin: 0px 0 25px;
}

h3 {
  font-size: .9rem;
  display: inline;
}

p, span {
  font-size: $small-font;
  font-weight: $bold-x1;
  color: $grey-font;
  line-height: $line_height;
}

p { margin-bottom: 20px; }

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

input, button {
  font-family: 'Commissioner', sans-serif;
  font-size: 14px;
  font-weight: 600;
}

button {
  height: 40px;
  padding: 0 25px;
  border: none;
  border-radius: 50px;
  background-color: $theme;
  color: $neutral;
  transition: background-color $animation;

  &:hover {
    background-color: $theme-hover;
    cursor: pointer;
  }
}

.description {
  width: 100%;
  font-weight: $bold-x1;
  display: inline-block;
  text-align: center;
  margin-bottom: 30px;
}

.flex {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

@mixin h-center-content {
  position: relative;
  left: 50%;
  translate: -50% 0;
}

@mixin v-center-content {
  position: relative;
  top: 50%;
  translate: 0 -50%;
}

@mixin center-content {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

main {
  @include h-center-content;
  translate: -50% -75px;
}

@mixin green_bold_text {
  font-weight: $bold-x2;
  color: $theme;
}

@mixin card {
  border-radius: 5px;
  background-color: $neutral;
  padding: 35px;
}

@mixin card_border {
  border: 1px solid $mid-grey;
  border-radius: 5px;

  &:hover { transition: box-shadow $animation; }
}

@mixin card-enlarge {
  scale: 1.02;
}

svg {
  scale: 1;
}
