.cards {
  width: 40%;

  & > section {
    @include card;
    transition: scale 0.1s linear;
  }

  // section:hover { @include card-enlarge; }
}

button {
  height: 40px;
  padding: 0 25px;
  border: none;
  border-radius: 20px;
  background-color: $theme;
  color: $neutral;
}