.cards {
  width: 40%;
  & > section { @include card; }
}

button {
  height: 40px;
  padding: 0 25px;
  border: none;
  border-radius: 50px;
  background-color: $theme;
  color: $neutral;
  transition: background-color $animation;

  &:hover {
    background-color: $theme-hover;
    cursor: pointer;
  }
}