.modal {
  visibility: hidden;
  opacity: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgb(0, 0, 0, .5);
  transition: visibility $animation, opacity $animation;
  overflow-y: auto;
  position: fixed;
  top: 0;
}

.modal__card {
  width: 40%;
  margin: 100px 0;
  @include h-center-content;

  h2 {
    display: inline-block;
    margin-bottom: 15px;
  }

  .description {
    text-align: left;
    margin-bottom: 15px;
  }

  svg {
    float: right;
    cursor: pointer;
    path {
      transition: opacity $animation;
      &:hover { opacity: .6; }
    }
  }

  li { @include card_border; }

  b {
    display: inline-block;
    padding-right: 3px;
    color: $dark;
    scale: 1.2;
  }
}

.modal__card__main {
  padding: 25px;
  
  p {
    margin-bottom: 0;
    margin-left: 45px;
  }
}

.modal__card__header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  & > div {
    display: flex;
    align-items: center;
    gap: 25px;

    & > * { cursor: pointer; }

    &:hover {
      span { border: 1px solid $theme; }
      label { color: $theme; }
    }
  }

  .radio {
    display: inline;
    transform: translateY(5%);

    input {
      display: none;
      appearance: none;
    }
  
    span {
      width: 20px;
      height: 20px;
      display: inline-block;
      border-radius: 50%;
      border: 1px solid $mid-grey;
      transition: border $animation;
      position: relative;
    }

    span:after {
      content: '';
      width: 0;
      height: 0;
      border-radius: 50%;
      background-color: $theme;
      transition: width $animation, height $animation;
      position: absolute;
      top: 50%;
      left: 50%;
      translate: -50% -50%;
    }
  
    input:checked ~ span:after {
      width: 50%;
      height: 50%;
    }
  }
  
  label {
    font-size: $small-font;
    font-weight: $bold-x2;
    transition: color $animation;
  }

  & > span:nth-child(2) {
    @include green_bold_text;
    margin-left: 25px;
  }

  & > span:last-child { margin-left: auto; }
}

.modal__card__expand {
  height: 0;
  transition: height $animation;
  border-top: 1px solid $light-grey;
}

.modal__card__expand__content {
  display: none;
  margin: 20px 25px;
  align-items: center;

  div {
    width: 90px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 10px 0 auto;
    padding: 0 15px;
    border-radius: 20px;
    border: 1px solid $light-grey;
    transition: border $animation;

    &:hover { border: 1px solid $theme; }
    span { font-weight: 700; }

    input {
      width: 40px;
      height: 50%;
      color: $grey-font;
      text-align: right;
      padding-right: 7px;
      color: $dark;
      border: none;

      &:focus { outline: none; }

      &::-webkit-inner-spin-button { -webkit-appearance: none; }
    }
  }

  button {      
    width: 90px;
    padding: 0;
  }
}

.modal__completed {
  display: none;
  width: 23%;
  @include center-content;

  svg {
    @include h-center-content;
    margin-bottom: 30px;
  }

  h2 {
    width: 100%;
    font-size: $large-font;
    text-align: center;
  }

  p {
    text-align: center;
    margin: 0 0 30px;
  }

  button {
    @include h-center-content;
  }

}