@media screen and (max-width: 450px ) {

  // Variables
  $small-font: .9rem;
  $large-font: 1.3rem;
  $bold-x1: 500;
  $bold-x2: 700;
  $padding: 25px;

  // Base
  h1 {
    font-size: $large-font;
    margin: 20px 0 20px;
  }

  h2 {
    font-size: 1.2rem;
    margin: 10px 0 25px;
  }

  p, span { font-size: $small-font; }
  
  // Layout
  header {
    height: 300px;
    background-image: url('http://127.0.0.1:8887/images/image-hero-mobile.jpg');
  }

  .header__elements {
    width: 90%;
    top: 30px;
    ul { display: none; }
  }

  // Components
  .cards {
    width: 80%;
    & > section { padding: $padding; }
  }
  
  button { height: 50px; }

  // View
  .cards__firstSection__actions {
    & > button {
      width: 80%;
    }
    svg {
      position: absolute;
      translate: -50% 0;
      path { translate: -20% -20%; }
    }
  
    div button { display: none; }
  }

  .cards__thirdSection {
    li span:nth-child(2) {
      display: block;
      margin-top: 5px;
      float: none !important;
    }

    b { font-size: 1.7rem !important; }
    
    button {
      display: block;
      float: none !important;
      margin-top: 15px;
    }
  }
}