// Colors
$theme: hsl(176, 50%, 47%);
$neutral: #FFF;
$dark: #000;
$theme-hover: hsl(176, 50%, 40%);
$light-grey: hsla(0, 0%, 48%, .1);
$mid-grey: hsla(0, 0%, 48%, .2);

// Font
$grey-font: #777;
$small-font: .8rem;
$large-font: 1.2rem;
$large_x1_font: 1.7rem;
$bold-x1: 500;
$bold-x2: 700;
$line_height: 1.7;

// Padding
$padding: 35px;

// Animation
$animation: .2s ease-out;