.cards__firstSection {
  & > svg {
    position: absolute;
    left: 50%;
    translate: -50% calc(-50% - $padding);
  }
}

.cards__firstSection__actions {
  display: flex;
  justify-content: space-between;

  svg {
    position: absolute;
    translate: -50% 0;
    path { translate: -20% -20%; }
  }

  div button {
    color: $grey-font;
    text-indent: 8px;
    background-color: $light-grey;
    margin-bottom: 0px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }
}

.cards__secondSection {
  display: grid;
  grid-template-columns: repeat(3, auto);
  grid-template-rows: repeat(2, auto);

  div {
    &:nth-child(2), &:nth-child(3) {
      border-left: 1px solid $light-grey;
      padding-left: 40px;
    }

    span {
      display: block;

      &:nth-child(1) {
        font-size: $large_x1_font;
        font-weight: $bold-x2;
        color: $dark;
      }

      &:nth-child(2) {
        font-size: $small-font;
        font-weight: $bold-x1;
        color: $grey-font;
      }
    }
  }

  progress {
    width: 100%;
    height: 8px;
    grid-column: 1/4;
    margin-top: 25px;
  }

  progress[value] { appearance: none; }

  progress[value]::-webkit-progress-bar {
    border-radius: 5px;
    background-color: $light-grey;
  }

  progress[value]::-webkit-progress-value {
    border-radius: 5px;
    background-color: $theme;
  }
}

.cards__thirdSection {
  ul {
    list-style-type: none;
    padding: 0;
    margin: 0;

    li {
      @include card_border;
      padding: 25px;
      
      span:nth-child(2) {
        @include green_bold_text;
        float: right;
      }
    }

    b {
      font-size: 1.3rem;
      display: inline-block;
      color: $dark;
      translate: 0 2px;
    }

    button { float: right; }
  }
}