@import url("https://fonts.googleapis.com/css2?family=Commissioner:wght@400;500;700&display=swap");
html {
  font-family: "Commissioner", sans-serif;
  font-size: 16px;
  font-weight: 400;
  overflow-x: hidden;
}

body {
  margin: 0;
  background-color: #F6F6F6;
}

h1 {
  text-align: center;
  margin: 5px 0 10px;
}

h2 {
  font-size: 1rem;
  margin: 0px 0 25px;
}

h3 {
  font-size: 0.9rem;
  display: inline;
}

p, span {
  font-size: 0.8rem;
  font-weight: 500;
  color: #777;
  line-height: 1.7;
}

p {
  margin-bottom: 20px;
}

.description {
  width: 100%;
  font-weight: 500;
  display: inline-block;
  text-align: center;
  margin-bottom: 30px;
}

.flex {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.grid {
  display: grid;
  grid-template-columns: 30px auto;
  grid-template-rows: repeat(2, auto);
  margin: 25px 25px 0;
}
.grid > * {
  border: 1px solid orange;
}

svg {
  scale: 1;
}

.cards {
  width: 40%;
}
.cards > section {
  border-radius: 5px;
  background-color: #FFF;
  padding: 35px;
  transition: scale 0.1s linear;
}

button {
  height: 40px;
  padding: 0 25px;
  border: none;
  border-radius: 20px;
  background-color: hsl(176deg, 50%, 47%);
  color: #FFF;
}

.radio {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

.test {
  width: 18px;
  height: 18px;
  border-radius: 50%;
  border: 1px solid hsla(0deg, 0%, 48%, 0.6);
  position: relative;
}

.test:hover {
  background-color: hsla(176deg, 50%, 47%, 0.1);
}

.test:after {
  content: "";
  width: 0;
  height: 0;
  border-radius: 50%;
  background-color: hsl(176deg, 50%, 47%);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

input:checked ~ .test::after {
  width: 50%;
  height: 50%;
}

header {
  height: 375px;
  background-image: url("http://127.0.0.1:8887/images/image-hero-desktop.jpg");
  background-repeat: no-repeat;
  background-size: 100vw 100%;
}

.header__elements {
  width: 75%;
  display: flex;
  justify-content: space-between;
  position: relative;
  left: 50%;
  translate: -50% 0;
  top: 50px;
}
.header__elements ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
.header__elements li {
  font-size: 0.8rem;
  font-weight: 500;
  display: inline-block;
  padding-left: 30px;
  color: #FFF;
}

.body_content {
  position: relative;
  left: 50%;
  translate: -50% 0;
  translate: -50% -75px;
}

.cards__firstSection svg {
  position: absolute;
  left: 50%;
  translate: -50% calc(-50% - 40px);
}

.cards__firstSection__actions {
  display: flex;
  justify-content: space-between;
}
.cards__firstSection__actions > span {
  background-color: hsl(176deg, 50%, 47%);
  color: #FFF;
}
.cards__firstSection__actions span {
  padding: 12px 30px;
  border-radius: 20px;
}
.cards__firstSection__actions div {
  position: relative;
}
.cards__firstSection__actions div svg {
  display: none;
  float: left;
}
.cards__firstSection__actions div span {
  float: right;
  background-color: hsla(0deg, 0%, 48%, 0.2);
  margin-bottom: 0px;
}

.cards__secondSection {
  display: grid;
  grid-template-columns: repeat(3, auto);
  grid-template-rows: 2;
}
.cards__secondSection div:nth-child(2), .cards__secondSection div:nth-child(3) {
  border-left: 2px solid hsla(0deg, 0%, 48%, 0.2);
  padding-left: 40px;
}
.cards__secondSection div span {
  display: block;
}
.cards__secondSection div span:nth-child(1) {
  font-size: 1.7rem;
  font-weight: 700;
  padding-bottom: 5px;
  color: #000;
}
.cards__secondSection div span:nth-child(2) {
  font-size: 0.8rem;
  font-weight: 500;
  color: #777;
}
.cards__secondSection progress {
  width: 100%;
  height: 8px;
  grid-column: 1/4;
  margin-top: 25px;
}
.cards__secondSection progress[value] {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}
.cards__secondSection progress[value]::-webkit-progress-bar {
  border-radius: 5px;
  background-color: hsla(0deg, 0%, 48%, 0.2);
}
.cards__secondSection progress[value]::-webkit-progress-value {
  border-radius: 5px;
  background-color: hsl(176deg, 50%, 47%);
}

.cards__thirdSection ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
.cards__thirdSection ul li {
  border: 1px solid hsla(0deg, 0%, 48%, 0.2);
  border-radius: 5px;
  padding: 25px;
}
.cards__thirdSection ul li span:nth-child(2) {
  font-weight: 700;
  color: hsl(176deg, 50%, 47%);
  float: right;
}
.cards__thirdSection ul b {
  font-size: 1.3rem;
  display: inline-block;
  color: #000;
  translate: 0 2px;
}
.cards__thirdSection ul button {
  float: right;
}

.modal {
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 0;
}
.modal h2 {
  display: inline-block;
  margin: 0px 0 15px;
}
.modal svg {
  float: right;
}
.modal .description {
  text-align: left;
  margin-bottom: 15px;
}

.modal__card {
  width: 40%;
  max-height: 75vh;
  overflow-y: auto;
  position: relative;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
}
.modal__card ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
.modal__card ul li {
  border: 1px solid hsla(0deg, 0%, 48%, 0.2);
  border-radius: 5px;
}
.modal__card ul input {
  margin-top: 5px;
}
.modal__card ul b {
  display: inline-block;
  padding-right: 3px;
  color: #000;
  scale: 1.2;
}

.modal__card__header label {
  font-size: 0.8rem;
  font-weight: 700;
}
.modal__card__header span:nth-child(3) {
  font-weight: 700;
  color: hsl(176deg, 50%, 47%);
  padding-left: 15px;
}
.modal__card__header span:nth-child(4) {
  float: right;
}

.modal__card__expand {
  display: none;
  justify-content: space-between;
  align-items: center;
  padding: 20px 25px;
  border-top: 1px solid hsla(0deg, 0%, 48%, 0.2);
}
.modal__card__expand div {
  height: 40px;
  border: 1px solid hsla(0deg, 0%, 48%, 0.2);
  margin: 0 10px 0 auto;
  border-radius: 20px;
}
.modal__card__expand div span {
  display: inline-block;
  margin: 0 0 0 15px;
  position: relative;
  top: 50%;
  translate: 0 -50%;
}
.modal__card__expand div input {
  width: 35px;
  font-size: 0.8rem;
  font-weight: 500;
  color: #777;
  line-height: 1.5;
  margin: 0 15px 0 0;
  position: relative;
  top: 50%;
  translate: 0 -50%;
  border: none;
}/*# sourceMappingURL=main.css.map */